body{
    overflow-x: hidden;
    background-color: rgb(79, 87, 90);
    color: white;
    font-size: 30px;
}
.header{
    background-color: rgb(125, 125, 145);
    color: white;
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: rgb(187, 241, 250);
}
.section1{
    background-color: rgb(71, 78, 80); ;
}