body{
    overflow-x: hidden;
    background-color: rgb(122, 127, 131);
    text-decoration: none;
}
.header{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-decoration: none;
}
.section1{
    height:728px;
    padding-top: 20px;
    padding-left: 20px;
    line-height: 90px;
    padding-bottom: 100px;
    border-bottom: solid rgba(255, 255, 255, 0.212) 5px;
}
.divizoria{
    font-size: 30px;
    padding-left: 40px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    padding-top: 20px;
}
.link{
    text-decoration: none;
    color: white;
}
